body{
    /* background-color: hotpink; */
    background-image: url('lettert.jpeg');
    background-size:100%;
    /* background-position: center; */
}

.textbox{
    position: absolute;
    left: 620px;
    top: 405px;

   

    margin: 10px;           /*pushing stuffs away*/
    padding: 15px;  /*putting contents inner inside the box */

    width:630px;
    height: 700px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(55, 42, 18);

    line-height: 1.5;
}
.title{
    position: absolute;
    left: 640px;
    top: 330px;

   

    margin: 10px;           /*pushing stuffs away*/
    padding: 15px;  /*putting contents inner inside the box */

    width:630px;
    height: 100px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(55, 42, 18);
}