body{
    background-color: hotpink;
}
#main{
    background-color: bisque;
    width: 900px;
    margin: auto;  /*左右边距相同 (中心对齐)*/
}
h1{
    text-align: center;
}
#canvas-parent{
    height: 500px;
    background-color: blue;
    text-align: center;
}
p{
    /* padding-left: 200px;
    padding-right: 200px; */
    background-color: aqua;
    width: 50%;
    margin-top: 30px;
}